/* Header*/

header {
  display:flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  margin-top: -10px;
}

/*logo*/

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  margin-right: 12px;
  width: 70px;
  height: 60px;
}

nav {
  padding-right: 40px;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}



/* links */

a {
  color: black;
}



/*main section*/

.column1,
.column2,
.column3,
.c1story1,
.c1story2,
.c1story3,
.c1story4,
.c1story5,
.main,
.c2story1,
.c2story2,
.newsbitescontent  {
  border: solid 1px black;
}


.main {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin: 0 auto 40px auto;
  padding: 40px 30px 0 0;
  top: 70px;
  position: relative;
}



.column1 {
  margin-right: 30px;
  padding-bottom: 50px;
  width: 630px;
}

.column2 {
  margin-right: 30px;
  width: 320px;
  display: flex;
  flex-direction: column;

}

.column3 {
  width: 240px;
}

.column3 span {
  display: block;
}



/* stories */

.orca, .burger, .fbi, .newsbites {
  font-size: 25px;
  font-family: Georgia;
  font-weight: bold;
}

.c1story2 {
  padding-top: 20px;
}

.c1story3 {
  padding-top: 20px;
}

.c2story1 {
  flex-grow: 2;
}

.c2story2 {
  flex-grow: 1;
}

.newsbites {
  margin: 20px 0 20px 0;
}






/* footer */

.footer {
  position: relative;
  margin-top: 120px;
}
